@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

/* font-family: 'Big Shoulders Text', cursive; */

/* c8a47a*/
/* a5845c light tan*/
/*font 591b1b dark maroon */
/* glacial indifference font */
/* 
https://codepen.io/rajrs/pen/dMowNx  use modal on page load
Modal on button click: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal
*/



.section-intro {
    
    background-image: url(img/UpdatedC&C_logo_20250806.jpg);
    background-position: center center;
    background-size: 75%;
    background-repeat: no-repeat;
    height: 1000px;
    /*display: flex;
    
    */
    flex-direction: column; 
    display:flex;
    align-items: center;  
}

.section-intro h1 {
    text-align: center;
    color: #591b1b;
    font-size: 5em;
    font-weight: 700;
}


.about-section {
    
    align-items: left;
    background-color: #f3f3f3c0;
    color: #c8a47a;
    padding: 50px 30px;
}





.carousel-inner {
  height: auto;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 20px;
}





/*
@media (min-width:577px) and (max-width: 800px) {

    .section-intro {
        height: 500px;
    }

    .about-section p,
    .about-section h3 {
        font-size: 20px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }
}
*/


@media screen and (max-width: 576px) {


    .section-intro {
        height: 400px;
        background-size: 100%;
    }

    

    .about-section {
        padding: 30px;
    }

    .section-intro h1 {
        font-size: 2em;
    }

    .about-section p,
    .about-section h3 {
        font-size: 15px;
    }

    .carousel-inner {
        height: auto;
    }


}
    